:root {
  --main-clr: #2c3e50;
  --sec-clr: #1abc9c;
}

.bg-main {
  background-color: var(--main-clr);
}

.text-main {
  color: var(--main-clr);
}

.bg-sec {
  background-color: var(--sec-clr);
}

.text-sec{
  color: var(--sec-clr);

}
.text-clr {
  color: var(--sec-clr);
}

.btn-main {
  background-color: var(--sec-clr);
  padding: 10px 25px;
  color: #fff;
  outline: unset;
  border: none;
  border-radius: 10px;
}

a,
a:active {
  color: #fff !important;
  text-decoration: none;
}

.pt-105 {
  padding-top: 105px;
}

.vh-90 {
  height: 90vh;
}
